{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Default{% endblock title %} | Anonymous Message Board</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Language" value="en-US" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="{% static 'global/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'global/css/site.css' %}" rel="stylesheet" media="screen">			

	{% block page_css %}
	{% endblock page_css %}

</head>
<body class="customBackground">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'messageboard:splash' %}">Intro</a>
		<button class="navbar-toggler" 
				type="button" 
				data-toggle="collapse" 
				data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li id="linkAnimalConversation" class="nav-item">
					<a class="nav-link" href="{% url 'messageboard:animal_conversation' %}">Conversation</a>
				</li>
				<li id="linkAddPost" class="nav-item">
					<a class="nav-link" href="{% url 'messageboard:add_post' %}">Add</a>
				</li>
				<li id="linkViewAnimals" class="nav-item">
					<a class="nav-link" href="{% url 'messageboard:view_animals' %}">Animals</a>
				</li>
				<li id="linkClearConversation" class="nav-item">
					<a class="nav-link" href="{% url 'messageboard:clear_conversation' %}">Clear</a>
				</li>
				<li id="linkAbout" class="nav-item">
					<a class="nav-link" href="{% url 'messageboard:about' %}">About</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" 
					   type="search" 
					   placeholder="Search" 
					   aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
					Search
				</button>
			</form>
		</div>
	</nav>


	<div class="container body-content">
		{% block body_content %}
			<p style="color:red">If you see this, something is wrong!</p>
		{% endblock body_content %}
		
		<hr />
		<footer>
			<p>&copy;&nbsp;2020&nbsp;-&nbsp;Post Something</p>
		</footer>

	</div>

   	<script src="{% static 'global/scripts/jquery.min.js' %}"></script>
	<script src="{% static 'global/scripts/jquery.validate.min.js' %}"></script>
	<script src="{% static 'global/scripts/bootstrap.min.js' %}"></script>
	<script src="{% static 'global/scripts/site.js' %}"></script>

	{% block page_scripts %}
	{% endblock page_scripts %}

</html>