{% extends 'layout.html' %}
{% load static %}
{% block title %}Create{% endblock title %}
{% block page_css %}{% endblock page_css %}

{% block page_scripts %}
<script src="{% static 'messageboard/scripts/details-page.js' %}"></script>
{% endblock page_scripts %}

{% block body_content %}
<h1>Message Details</h1>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Featured
    </div>
    <img class="card-img-top" src="{% static 'messageboard/images/God_100_100.png' %}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
<hr/>

<div class="card" style="width: 18rem;">
    <img class="card-img-top"
        src=""
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<hr/>

<div class="card">
    <div class="card-body">
        This is some text within a card body.
    </div>
</div>
<hr/>


{% endblock body_content %}